@media (min-width:1279px) {}

@media (max-width:1279px) {
    
}

@media (max-width:768px) {
    :root {
        --header-height: 60px;
        --logo-height: 30px;
    }
    header nav.desktop-menu {
        display: none;
    }
    header nav.mobile-menu {
        display: inline;
    }
}

@media (max-width:480px) {
    :root {
        --header-height: 50px;
        --logo-height: 25px;
    }
}